# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R Programming

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

Data Science Tools | R Studio | Apache Spark | TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

# Convert minutes to hours
minutes = 200
hours = minutes / 60

# Display the result
hours

3.3333333333333335

**Objectives:**
* JavaScript
* Python
* Scala
* MATLAB

## Author
Maitry Patel